---
const { audioList, theme } = Astro.props; // 接收动态传入的音频列表

export interface Props {
    audioList: {
        name: string;
        artist: string;
        url: string;
        cover: string;
    }[];

}
---

<div id="albums">
    <div id={audioList.artist[0]}>
        <script>
            const ap = new APlayer({
                container: document.getElementById('aplayer'),
                mini: false,
                autoplay: false,
                theme: color,
                loop: 'all',
                order: 'random',
                preload: 'auto',
                volume: 0.1,
                mutex: true,
                listFolded: false,
                listMaxHeight: 90,
                audio: 
                // 动态注入音频数据
                JSON.parse(`\`${JSON.stringify(audioList)}\``)
            });
        </script>
    </div>
</div>

